.u-disabled {
  color: grey !important;
  border-color: grey !important;
  pointer-events: none;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-extrasmall {
  margin-bottom: 1rem;
}

.u-display-flex {
  display: flex !important;
}
